concourse-slack-webhook-url: https://hooks.slack.com/services/xxx

b-cld-bucket-name: bucket-b
d-cld-bucket-name: bucket-d
o-cld-bucket-name: bucket-o
y-cld-bucket-name: bucket-y

aws-access-key-id: X
aws-secret-access-key: Y
aws-default-region: ap-southeast-2
